.Appheader {
margin-left: 60px;
};


.form {
    margin-left: 50px;
   
    
};

.button{
    margin-left: 50px;
    height: 50px;
    width: 100px;
    background-color: lightseagreen;
    border: none;
    border-radius: 12px;
};